@import '~bootstrap/scss/bootstrap.scss';

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.react-datepicker-popper {
    z-index: 100;
}

.table-wrapper {
    position: relative;
    width: 100%;

    table {
        margin: 0;

        tbody {
            tr {
                td {
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        thead {
            th {
                position: sticky;
                top: -1px;
                z-index: 10;
                background-color: white;
            }
        }
    }
}
